@model IEnumerable<KoscielniakInfo.Models.PortfolioEntry>
@using ImageResizer

@{
    ViewBag.Title = "Index";
    int entryID = 1;
    string entryDivClass;
    string src;
}
<div class="container">
    <div class="col-md-12 text-center">
        <h2>My portfolio</h2>

        <a href="/portfolioEntries/Index/" class="btn btn-default btn-lg">All</a>
        @foreach (var category in ViewBag.Categories)
        {
            <a href="/portfolioEntries/Index/@category.ID" class="btn btn-default btn-lg">@category.Name</a>
        }
    </div>
</div>
<br />
<div class="container">
    @foreach (var item in Model)
    {

        if (entryID % 2 == 0)
        {
            entryDivClass = "margin:10 auto; margin-top:25px; float:right;box-shadow: 5px 5px grey;";
        }
        else
        {
            entryDivClass = "margin:10 auto; margin-top:25px; float:left;box-shadow: 5px 5px grey;";
        }
        <div class="col-md-6" style="display:inline-block">
            <div class="hovereffect" style="@entryDivClass">
                @if (item.ScreenShots.Count > 0)
                {
                    <img class="img-responsive" src="~/Pictures/ScreenShots/@item.ScreenShots.FirstOrDefault().ImageURL?width=400&height=300&mode=carve" />
                }
                else
                {
                    <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=There%20is%20nothing%20here...Yey&w=400&h=300" />
                }
                <div class="overlay">
                    <h2>@item.Name</h2>

                    <a href="~/PortfolioEntries/Details/@item.ID" class="info">Read More
                        <br />
                        <div class="row">
                            @{
                                List<string> categories = item.Category.Split(';').ToList();

                                foreach (string category in categories)
                                {
                                    src = HttpUtility.UrlEncode(category) + ".png";
                                    <div class="col-md-4" style="margin-top:15px;">
                                        <img class="img-responsive" src="~/Common Images/TechnologyIcons/@src?height=50&mode=carve" />
                                    </div>
                                }
                            }
                        </div>
                    </a>
                </div>
            </div>
        </div>
                            entryID++;
                        }
</div>
