@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Hi, my name is Adam and I am C# developer in the making. This here website is my first finished project.</p>
<p>It is written in C#, using MVC 5, the database is being handle by Entity Framework</p>
<p>The display layer is ofcourse Razor supported by Bootstram and a little bit of jQuery</p>
<p>Hope you enjoyed your visit here!</p>
