@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Hello welcome to my page you are being redirected to my Virtual CV, it is the only thing functioning now, more to come soon!</p>
    <p><a href="~/CV/" class="btn btn-primary btn-lg">Click if you have not been redirected</a></p>
</div>
@{ Response.Redirect("~/CV/");}

