<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adamkoscielniak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adamkoscielniak.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AdamKoscielniak</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AdamKoscielniak</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:koscielniakinfo.database.windows.net,1433;Initial Catalog=koscielniakinfo;User ID=Tackgnol@koscielniakinfo.database.windows.net;Password=742617Gus!" Name="Data Source=tcp:koscielniakinfo.database.windows.net,1433;Initial Catalog=koscielniakinfo;User Id=Tackgnol@koscielniakinfo.database.windows.net;Password=742617Gus!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KoscielniakInfo.Models.ApplicationDbContext, KoscielniakInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CVContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:koscielniakinfo.database.windows.net,1433;Initial Catalog=koscielniakinfo;User ID=Tackgnol@koscielniakinfo.database.windows.net;Password=742617Gus!" Name="Data Source=tcp:koscielniakinfo.database.windows.net,1433;Initial Catalog=koscielniakinfo;User Id=Tackgnol@koscielniakinfo.database.windows.net;Password=742617Gus!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KoscielniakInfo.DAL.CVContext, KoscielniakInfo" MigrationConfiguration="KoscielniakInfo.Migrations.Configuration, KoscielniakInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CVContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:koscielniakinfo.database.windows.net,1433;Initial Catalog=koscielniakinfo;User Id=Tackgnol@koscielniakinfo.database.windows.net;Password=742617Gus!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:koscielniakinfo.database.windows.net,1433;Initial Catalog=koscielniakinfo;User Id=Tackgnol@koscielniakinfo.database.windows.net;Password=742617Gus!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>