<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>adamkoscielniak.pl</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://tackgnol-001-site1.etempurl.com:8172/msdeploy.axd?site=tackgnol-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tackgnol-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\tackgnol-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5034.smarterasp.net;Initial Catalog=DB_A19C3A_AdamKoscielniak;Persist Security Info=True;User ID=DB_A19C3A_AdamKoscielniak_admin;Password=742617gus" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KoscielniakInfo.Models.ApplicationDbContext, KoscielniakInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CVContext" Order="2" Enabled="True">
          <Destination Path="Data Source=sql5034.smarterasp.net;Initial Catalog=DB_A19C3A_AdamKoscielniak;Persist Security Info=True;User ID=DB_A19C3A_AdamKoscielniak_admin;Password=742617gus" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KoscielniakInfo.DAL.CVContext, KoscielniakInfo" MigrationConfiguration="KoscielniakInfo.Migrations.Configuration, KoscielniakInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CVContext-Web.config Connection String">
      <ParameterValue>Data Source=sql5034.smarterasp.net;Initial Catalog=DB_A19C3A_AdamKoscielniak;Persist Security Info=True;User ID=DB_A19C3A_AdamKoscielniak_admin;Password=742617gus</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql5034.smarterasp.net;Initial Catalog=DB_A19C3A_AdamKoscielniak;Persist Security Info=True;User ID=DB_A19C3A_AdamKoscielniak_admin;Password=742617gus</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>